# IntelliJ IDEA
.idea

# Visual Studio profiler
*.vs

# bin, settings
temp
env.sh

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.log
.terraform.lock.hcl
*.tfbackend

# tfsec
tfsec-junit.xml

# asdf
.tool-versions
